:root 
{
    --cor-primaria: #10B981;
    --cor-de-fundo: #F9FAFB;
    --cor-de-texto: #111827;
}

body 
{
    background-color: var(--cor-de-fundo);
}

p 
{
    color: var(--cor-de-texto);
}

/* Barra de Navegação */

.navbar a 
{
    color: var(--cor-de-texto);
}

.navbar-bg
{
    background-color: var(--cor-primaria);
}

/* Rodapé */

footer 
{
    background-color: #E8E8E8;
}